.home_main_banner {
  display: flex;
  align-items: center;
}

.home_main_banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3288px;
  height: 242px;
  background: url("./assets/hero-outline.svg");
  background-repeat: repeat-x;
  animation: Home_scrolling 20s linear infinite;
}

@keyframes Home_scrolling {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-1096px, 0, 0);
  }
}

.home_main_content,
.home_main_banner {
  position: relative;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1480px !important;
  }
}
